/* .singin-input  {
  padding: 0px !important;
  height: 3rem !important;
} */

.ui-signin-form {
  width: 30%;
}

@media (max-width: 1200px) {
  .ui-signin-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .ui-signin-form {
    width: 80%;
  }
}